<div class="container2">
  <div class="container">
    <div id="card-stats">
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">feedback</i>
                <p>Tasks</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">New</h5>
                <p>+2</p>
                <p class="no-margin">Growth</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">perm_identity</i>
                <p>Clients</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">15</h5>
                <p class="no-margin">New</p>
                <p>1,12,900</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">timeline</i>
                <p>Total Sales Today</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">80%</h5>
                <p class="no-margin">Growth</p>
                <p>20</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
            <div class="padding-4">
              <div class="col s7 m7">
                <i class="material-icons background-round mt-5">attach_money</i>
                <p>Total Profit</p>
              </div>
              <div class="col s5 m5 right-align">
                <h5 class="mb-0">$890</h5>
                <p class="no-margin">Today</p>
                <p>$25,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row padding-row">
      <div class="col s12 m8 l8 ">
        <nav class="nav-extended gardient-tasks">
          <div class="nav-wrapper">
            <a class="brand-logo center">User</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
              <i class="material-icons">menu</i>
            </a>
          </div>
          <div class="nav-content">
            <ul class="tabs tabs-transparent">
              <li class="tab">
                <a href="#test1">Add Task</a>
              </li>
              <li class="tab">
                <a class="active" href="#test2">User Log Sales</a>
              </li>
              <li class="tab">
                <a class="active" href="#test3">Tasks</a>
              </li>
              <li class="tab">
                <!-- <a class="active" href="#test4">Add Sales</a> -->
                <a class="active waves-effect waves-light btn blue-grey lighten-5 black-text" (click)="openLogSale()">Log Sale</a>
              </li>
            </ul>
          </div>
        </nav>
        <div id="test1" class="col s12">
          <div class="col s12 m8 l8 ">
            <div class=" gradient-shadow min-height-100 white-text">
              <div class="card-content black-text">
                <app-add-task></app-add-task>
              </div>
            </div>
          </div>
        </div>
        <div id="test2" class="col s12">
          <div class="col s12 m12 l12 ">
            <div class=" min-height-100 black-text">
              <div class="card-content black-text">
                <app-user-sales-table></app-user-sales-table>
              </div>
            </div>
          </div>
        </div>
        <div id="test3" class="col s12">
          <div class="col s12 m8 l8 ">
            <div class=" gradient-shadow min-height-100 white-text">
              <div class="card-content black-text">
                <div>
                  <ul *ngFor="let task of myTasks; let i = index">
                    <app-task-item [task]="task"></app-task-item>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <app-user-sales (currentUser)="getUser($event)"></app-user-sales>
      </div>
    </div>

    <!-- log sale -->

    <!-- add task -->



    <!-- <div class="row">
    <div class="col s12 m12 l12 ">
      <div class="card">
        <div class="card gradient-45deg-black-teal  min-height-100 white-text">
          <div class="card-content white-text">
            <span class="card-title">Add Tasdasdasdasdask</span>


            <app-add-task></app-add-task>

          </div>

        </div>
      </div>
    </div>
  </div> -->



    <!-- Log Sale Modal -->
    <!-- <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="logSaleClicked">
    <div class="modal-content">
      <h4>Log Sale</h4>
      <form class="col s12">
        <div class="container">
          <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
              #search [formControl]="searchControl">
          </div>
          <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
        </div>
        <select materialize="material_select" [materializeSelectOptions]="products" (change)="getSKU()" name="chosenProduct" [(ngModel)]="sale.product_id_fk">
          <option [value]="" disabled>Product</option>
          <option value={{product.product_id}} *ngFor="let product of products; let i = index">{{product.product_name}}</option>
        </select>
        <select materialize="material_select" [materializeSelectOptions]="items" name="chosenSKU" [(ngModel)]="chosenSKU">
          <option [value]="" disabled>Item</option>
          <option value={{item.sku_id}} *ngFor="let item of items; let i = index">{{item.sku_name}}</option>
        </select>
        <div class="input-field col s6">
          <input placeholder="Number of units" id="unit_number" type="number" class="validate" name="sales_count" [(ngModel)]="sale.sales_count">
          <label for="number">Units Sold</label>
        </div>
      </form>
      <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeLog()">Dismiss</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="logSale()">Submit</a>
    </div>
  </div> -->
  </div>

  <!--############################ -->
  <!--Log Sale Modal -->
  <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="logSaleClicked">
    <div class="modal-content">
      <h4>Log Sale</h4>
      <!--<form class="col s12 ">-->
      <!--<div class="container">-->
      <!--<div class="form-group">-->
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
        #search [formControl]="searchControl">
      <!--</div>-->
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
      <!--</div>-->
      <select materialize="material_select" [materializeSelectOptions]="products" (change)="getSKU()" name="chosenProduct" [(ngModel)]="sale.product_id_fk">
        <option [value]="" disabled>Product</option>
        <option value={{product.product_id}} *ngFor="let product of products; let i = index">{{product.product_name}}</option>
      </select>
      <select materialize="material_select" [materializeSelectOptions]="items" name="chosenSKU" [(ngModel)]="chosenSKU">
        <option [value]="" disabled>Item</option>
      </select>
      <div class="input-field col s6">
        <input placeholder="Number of units" id="unit_number" type="number" class="validate" name="sales_count" [(ngModel)]="sale.sales_count">
        <label for="number">Units Sold</label>
      </div>
      <!--</form>-->
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeLog()">Dismiss</a>
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="logSale()">Submit</a>
      <option value={{item.sku_id}} *ngFor="let item of items; let i = index">{{item.sku_name}}</option>
    </div>
  </div>
</div>
