agm-map {
  height: 200px;
}

.container {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 99%;
  float:right;
  font-family: 'Raleway';
  background-color: #F2EAEE;
}
.container2 {
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 100% !important;
  width: 100%;
  float:right;
  font-family: 'Raleway';
  background-color: #F2EAEE;

}

.card {
  overflow: hidden;
  border-radius: 3px;
}
#card-stats {
  padding-top: 12px;
}
.truncate{
  padding:2rem;
}

#content .container .row {
  margin-bottom: 0;
}
.gradient-45deg-light-blue-cyan.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(38, 198, 218, 0.5);
}

.gradient-45deg-light-blue-cyan {
  background: #0288d1;
  background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
  background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
}
.white-text {
  color: #FFFFFF !important;
}

.min-height-100 {
  min-height: 100px !important;
}
.padding-4 {
  padding: 4% !important;
}


a {
  text-decoration: none;
}

.gradient-45deg-amber-amber.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(255, 111, 0, 0.3);
}

.gradient-45deg-green-teal.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(77, 182, 172, 0.5);
}

.card {
  overflow: hidden;
}
#test1{
  padding:1rem;
  float: right;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap; 
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.padding-row{
  padding-top:4rem;
}

.mb-0 {
  margin-bottom: 0% !important;
   font-family: 'Raleway';
  }
  .no-margin {
    margin: 0% !important;
}

.background-round {
  background-color: rgba(0, 0, 0, 0.18);
  padding: 15px;
  border-radius: 50%;
}

.mt-5 {
  margin-top: 5% !important;
}

#card-stats{
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.gradient-45deg-black-teal {
  /* background:  #311b92 ;
  background: -webkit-linear-gradient(45deg,#311b92  0%, #1a237e  100%);
  background: linear-gradient(45deg,#311b92  0%, #1a237e 100%); */
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.gardient-tasks {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  margin:0;
}
.gradient-45deg-green-teal {
  background: #43A047;
  background: -webkit-linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
  background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%);
}
.gradient-45deg-amber-amber {
  background: #ff6f00;
  background: -webkit-linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
  background: linear-gradient(45deg, #ff6f00 0%, #ffca28 100%);
}

.gradient-45deg-red-pink.gradient-shadow {
  box-shadow: 0 6px 20px 0 rgba(227, 143, 244, 0.5);
}
.gradient-45deg-red-pink {
  background: #7f345a;
  background: -webkit-linear-gradient(45deg,#7f345a 0%, #f48fb1 100%);
  background: linear-gradient(45deg, #7f345a 0%, #f48fb1 100%);
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
40%, 43% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  }
  70% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  }
  90% {
  -webkit-transform: translate3d(0,-4px,0);
  transform: translate3d(0,-4px,0);
  }
  }

  @keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
  40%, 43% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
  }
  70% {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  }
  90% { -webkit-transform: translate3d(0,-4px,0); transform: translate3d(0,-4px,0);
  }
  }
