<!-- <app-navbar></app-navbar> -->
<div class="col s12 addTask">
  <app-add-task (taskAdded)="getTasks($event)"></app-add-task>
</div>
<div class="row tasks">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Task List</h4></li>
    <li class="collection-item" *ngFor="let task of tasks; let i = index">
      <div>
        <p>
          <input type="checkbox" class="filled-in" id="filled-in-box" (click)="markAsDone()"/>
          <label for="filled-in-box">{{task.task_text}}</label>
          <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
        </p>
      </div>
    </li>
  </ul>
</div>


