<div class="container-fluid">
  <div class="row card-sizing">
    <div class="col s6 offset-s3">
      <div class="card rounded-0 form-box">
        <div class="card-header grey darken-3">
          <h3 class="mb-0">Sign-in</h3>
          <div class="brand-logo">
            <img class="responsive-img" src="../assets/image/FancoLogo.png">
          </div>
        </div>
        <div class="card-body">
          <div class="row ">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="firstname" type="text" class="validate" [(ngModel)]="user.firstname" name="fname" required>
                  <label data-error="wrong" for="firstname">First Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="lastname" type="text" class="validate" [(ngModel)]="user.lastname" name="lname" required>
                  <label  data-error="wrong" for="lastname">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="text" class="validate" [(ngModel)]="user.email" name="mail" required >
                  <label  data-error="wrong" for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="username" type="text" class="validate" [(ngModel)]="user.username" name="uname" required>
                  <label  data-error="wrong" for="username">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" [(ngModel)]="user.password" name="passw" required>
                  <label data-error="wrong" for="password">Password</label>
                </div>
              </div>
              <button type="button" class="btn float-right amber darken-4" id="btnSignin" (click)='newUser()'>Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>