.container-fluid {
    margin:0;
    padding:6.4rem;
    background: url("/assets/image/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-header {
 
    color: #f5f7fa;
}

/* .custom-checkbox {
    color: #23b7e5;
    border: 1em;
} */

.custom-control {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.brand-logo{
    top:0;
  float: right;
  width: 10rem;
}
.brand-logo img{
    position: absolute;
    width: 50px;
    top: 10px;
    right: 2rem;
}
.text-logo{
    bottom:30px;
    float: right;
    position: absolute;
    left:60px;
}