.container-fluid {
    margin:0;
    padding:6.4rem;
    background: url("/assets/image/background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway';
}

.card-sizing{
    width:70%;
}
.card-body{
    padding:1rem;
}

.card-header {
    padding:2rem;
    color: #f5f7fa;
}

.custom-control {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.brand-logo{
    top:0;
  float: right;
  width: 15rem;
}
.brand-logo img{
    position: absolute;
    width: 50px;
    top: 3rem;
    right: 5rem;
}
