<h5 class="truncate center-align ">Fan.Co Sales by Date</h5>
<div class="row center-align">
  <div class=" col l12 ">
    <form>
      <div class=" col l2 ">
        <p class="flow-text">Choose Seller</p>
      </div>
      <div class=" col l6 ">
        <select  *ngIf="user?.level=='manager'; else user_menu" style="display: block" [(ngModel)]="option" name="option">
          <option *ngFor="let user of users" [value]="user.user_id">{{user?.username}}</option>
        </select>
      </div>
      <div class=" col l2 ">
        <a class="btn waves-effect waves-light light-blue darken-4" (click)="getDataForGraph()">Change</a>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class=" col l12 ">
    <div id="chartdiv"></div>
  </div>
</div>

<ng-template #user_menu>
  <select style="display: block" [(ngModel)]="option">
  <option [value]="999">All Sales</option>
  <option [value]="user?.user_id">{{user?.username}}</option>
  </select>
</ng-template>
