#chartdiv {
    width: 60%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; 
  }
   
  .amcharts-graph-g1 .amcharts-graph-fill {
    filter: url(#blur);
  }
  
  .amcharts-graph-g2 .amcharts-graph-fill {
    filter: url(#blur);
  }
  
  .amcharts-cursor-fill {
    filter: url(#shadow);
  }