
	.state {
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}

	.state:hover {
		fill-opacity: 0.5;
	}

	#tooltip {
		position: absolute;
		margin: 10px;
		font: 12px sans-serif;
		border: 1px;
		pointer-events: none;
		float: right;
		
	}

	#tooltip h4 {
		/*name of the states*/
		margin: 0;
		font-size: 18px;
		color: plum;
	}

	#tooltip {
		/*#=IED */
		position: absolute;
		margin: 10px;
		font: 14px sans-serif;
		pointer-events: none;
		background: rgba(0, 0, 0, 0.9);
		border: 1px solid grey;
		border-radius: 5px;
		width: auto;
		padding: 4px;
		color: white;
		opacity: 0;
	}

	#tooltip table {
		table-layout: fixed;
	}

	#tooltip tr td {
		padding: 0;
		margin: 0;
	}

	#tooltip tr td:nth-child(1) {
		width: 50px;
	}

	#tooltip tr td:nth-child(2) {
		text-align: center;
	}
