<div *ngIf="user?.username">
  <header *ngIf="user?.username">
    <div class="navbar-fixed">
      <nav class="navbar-color gradient-45deg-nav-nav gradient-shadow">
        <div class="nav-wrapper">
          <ul class="left">
            <li>
              <h1 class="logo-wrapper">
                <a herf="index.html" class="brand-logo">
                  <img class="responsive-img" src="../assets/image/FancoLogo.png">
                  <span>
                    <img class="responsive-img" id="text-logo" src="../assets/image/fancotextlogo.png">
                  </span>
                </a>
              </h1>
            </li>
          </ul>
          <ul class="right right-nav-icons">
            <li>
              <span class="navbar-name">{{user?.username}}</span>
            </li>
            <li>
              <i class="large material-icons">account_circle</i>
            </li>
            <li>
              <i class="large material-icons">notifications</i>
            </li>
            <li>
              <i class="large material-icons" (click)="logOut()" style="cursor: pointer">power_settings_new</i>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div id="main">
    <div class="wrapper">
      <aside id="left-side-nav" class="nav-expanded nav-lock nav-collapsible">
        <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="transform: translateX(0px);">
          <li class="no-padding">
            <ul class="collapsible" data-collapsible="accordion">
              <li class="bold active">
                <a class="collapsible-header waves-effect waves-cyan active" routerLink="/dashboard">
                  <i class="material-icons">dashboard</i>
                  <span class="nav-text">Dashboard</span>
                </a>
              </li>
              <li class="bold active">
                <a class="collapsible-header waves-effect waves-cyan active" routerLink="/analytics">
                  <i class="material-icons">equalizer</i>
                  <span class="nav-text">analytics</span>
                </a>
              </li>
              <li class="bold active">
                <a class="collapsible-header waves-effect waves-cyan active" routerLink="/user">
                  <i class="material-icons">account_circle</i>
                  <span class="nav-text">User</span>
                </a>
              </li>
              <li class="bold active">
                <a class="collapsible-header waves-effect waves-cyan active" routerLink="/tasks">
                  <i class="material-icons">format_list_numbered</i>
                  <span class="nav-text">Tasks</span>
                </a>
              <!-- </li>
              <li class="bold active">
                <a class="collapsible-header waves-effect waves-cyan active" routerLink="/login">
                  <i class="material-icons">lock_open</i>
                  <span class="nav-text">Login</span>
                </a>
              </li>
              <li class="bold active">
                <a class="collapsible-header waves-effect waves-cyan active" routerLink="/signin">
                  <i class="material-icons">dashboard</i>
                  <span class="nav-text">Signin</span>
                </a>
              </li> -->
              <li class="bold active" *ngIf="user?.level == 'manager'">
                <a class="waves-effect collapsible-header waves-cyan active" (click)="openManageUsers()">
                  <i class="material-icons">dashboard</i>
                  <span class="nav-text">Manage Users</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</div>

<!-- Manage Users Modal -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="manageUserClicked">
  <div class="modal-content">
    <h4>Manage users</h4>
    <form class="col s12">
      <div class="row">
        <select class="col s4" materialize="material_select" [materializeSelectOptions]="users" name="user" [(ngModel)]="newUser.user_id">
          <option [value]="" disabled>User</option>
          <option value={{user.user_id}} *ngFor="let user of users; let i = index">{{user.user_id}} | {{user.username}}</option>
        </select>
        <select class="col s4" materialize="material_select" [materializeSelectOptions]="levels" name="level" [(ngModel)]="chosenLevel">
          <option [value]="" disabled>Level</option>
          <option value={{level.level}} *ngFor="let level of levels; let i = index">{{level.level}}</option>
        </select>
        <select class="col s4" materialize="material_select" [materializeSelectOptions]="channels" name="channel" [(ngModel)]="chosenChannel">
          <option [value]="" disabled>Channel</option>
          <option value={{channel.channel_id}} *ngFor="let channel of channels; let i = index">{{channel.channel_name}}</option>
        </select>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeManageUsers()">Dismiss</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="submitChanges()">Submit</a>
  </div>
</div>
