<header *ngIf="user?.username">
  <div class="navbar-fixed">
    <nav class="navbar-color light-blue darken-2">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <a herf="index.html" class="brand-logo">
                <img class="responsive-img" src="../assets/image/FancoLogo.png">
                <span>
                  <img class="responsive-img" id="text-logo" src="../assets/image/fancotextlogo.png">
                </span>
              </a>
            </h1>
          </li>
        </ul>
        <ul class="right right-nav-icons">
          <li>
            <span class="navbar-name">{{user?.username}}</span>
          </li>
          <li>
            <i class="large material-icons">account_circle</i>
          </li>
          <li>
            <i class="large material-icons">notifications</i>
          </li>
          <li>
            <i class="large material-icons" (click)="logOut()" style="cursor: pointer">power_settings_new</i>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div id="main">
  <div class="wrapper">
    <aside id="left-side-nav" class="nav-expanded nav-lock nav-collapsible">
      <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="transform: translateX(0px);">
        <li class="no-padding">
          <ul class="collapsible" data-collapsible="accordion">
            <li class="bold active">
              <a class="collapsible-header waves-effect waves-cyan active" routerLink="/dashboard">
                <i class="material-icons">dashboard</i>
                <span class="nav-text">Dashboard</span>
              </a>
            </li>
            <li class="bold active">
              <a class="collapsible-header waves-effect waves-cyan active" routerLink="/analytics">
                <i class="material-icons">equalizer</i>
                <span class="nav-text">analytics</span>
              </a>
            </li>
            <li class="bold active">
              <a class="collapsible-header waves-effect waves-cyan active"  routerLink="/user">
                <i class="material-icons">account_circle</i>
                <span class="nav-text">User</span>
              </a>
            </li>
            <li class="bold active">
              <a class="collapsible-header waves-effect waves-cyan active" routerLink="/tasks">
                <i class="material-icons">format_list_numbered</i>
                <span class="nav-text">Tasks</span>
              </a>
            </li>
            <li class="bold active">
                <a class="collapsible-header waves-effect waves-cyan active" routerLink="/login">
                  <i class="material-icons">lock_open</i>
                  <span class="nav-text">Login</span>
                </a>
              </li>
            <li class="bold active">
              <a class="collapsible-header waves-effect waves-cyan active"routerLink="/signin">
                <i class="material-icons">dashboard</i>
                <span class="nav-text">Signin</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </aside>
  </div>
</div>