<div class="contanier">
  <footer class="page-footer gradient-45deg-nav-nav">
    <div class="row">
      <h2 class=" truncate center-align bold">Welcome to Fan.Co Dashboard </h2>
      <div id="profile-card" class="col s6 offset-s3">
        <div class="card-content">
          <div class="col s4 m4 l2 center-align card-img">
          </div>
          <div class="col s8 m8 l10 center-align card-user-details">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
        <h5 class="center-align global-text ">Global Sales Overview</h5>
      <div class="col l12 amount-graph">
        <app-map-with-pie></app-map-with-pie>
      </div>
    </div>
  </footer>
  <div class="row graph-color card">
    <div class="col l12 amount-graph ">
      <app-unit-amount-graph></app-unit-amount-graph>
    </div>
  </div>
</div>
<!--
  <h4 class="truncate center-align">Weather Sales (fix the text~)</h4>
  <div class="row">
    <div class="col s12 m12 l12">
      <app-unit-amount-graph></app-unit-amount-graph>
    </div>
  </div>

  <footer class="page-footer grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l12 s12 map">
          <app-map-with-pie></app-map-with-pie>
        </div>
      </div>
    </div>
  </footer> -->
