<div class="container py-5">
  <div class="row">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-6 mx-auto">

                  <!-- form card login -->
                  <div class="card rounded-0">
                      <div class="card-header">
                          <h3 class="mb-0">Login</h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <form class="col s12">
                            <div class="row">
                              <div class="input-field col s6">
                                <input id="name" type="text" class="validate">
                                <label for="name">Username</label>
                              </div>
                            </div>
                            <div class="row">
                              <div class="input-field col s6">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                              </div>
                            </div>
                            <button type="submit" class="btn float-right #1e88e5 blue darken-1" id="btnSignin">Log in</button>
                              <span>Not a user yet?    <a class="signup" href="#" (click)="logIn()">sign up</a></span>
                          </form>
                      </div>
                      <!--/card-block-->
                  </div>
                  <!-- /form card login -->
              </div>
          </div>
          <!--/row-->
      </div>
      <!--/col-->
  </div>
  <!--/row-->
</div>
