<div class="container-fluid">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card rounded-20">
        <div class="card-header grey darken-3">
          <h4 class="mb-0">Login</h4>
          <p>Now in demo mode. To login as:</p>
          <p>manager => username: Dor and password: 1324</p>
          <p>sales person => username: Dan and password: 1234</p>
          <div class="brand-logo">
            <img class="responsive-img" src="../assets/image/FancoLogo.png">
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="name" type="text" class="validate" required aria-required="true" name="username" [(ngModel)]="username">
                  <label data-error="wrong" for="name">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" name="password" required aria-required="true" class="validate" [(ngModel)]="password">
                  <label data-error="wrong" for="password">Password</label>
                </div>
              </div>
              <button type="button" class="btn float-right amber darken-4" id="btnSignin" (click)="login()">Log in</button>
              <span>Not a user yet?
                <a class="signup" href="/signin">Sign-up</a>
              </span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
