<div class="card">
  <div class="card-content grey darken-3 white-text">
    <p class="card-stats-title">
      <i class="material-icons">content_copy</i> Analytics</p>
    <h4 class="card-stats-number">numbers</h4>
    <p class="card-stats-compare">
      <i class="material-icons">keyboard_arrow_down</i>
      <span class="deep-orange-text text-lighten-5">from last year</span>
    </p>
  </div>
  <div class="card-action  grey darken-3">
    <div id="invoice-line" class="center-align">
      <canvas style="display: inline-block; width: 417.609px; height: 25px; vertical-align: top;" width="417" height="25"></canvas>
    </div>
  </div>
</div>
