
body {
    background-color: #F2EAEE;
    font-family: 'Raleway';
}

.container{
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 100% !important;
    width: 88%;
    float: right;
    font-family: 'Raleway';
    background-color: #F2EAEE;
}
