<div class="container2">
  <div class="container ">
    <div id="card-stats">
      <div class="row">
        <!-- top4 start -->
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-content  light-blue darken-3 white-text">
              <p class="card-stats-title">
                <i class="material-icons">trending_up</i> yesterday global revenue</p>
              <h4 class="card-stats-number">{{yesRev}}</h4>
              <p class="card-stats-compare">
                <i class="material-icons">keyboard_arrow_up</i>

              </p>
            </div>
            <div class="card-action  light-blue darken-4 darken-1">
              <div id="clients-bar" class="center-align">
                <canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-content  teal lighten-2 white-text">
              <p class="card-stats-title">
                <i class="material-icons">trending_up</i> top revenue country</p>
              <h4 class="card-stats-number">{{topCounRev?.Sums}}</h4>
              <p class="card-stats-compare">
                <i class="material-icons">keyboard_arrow_up</i>
                <span class="grey darken-3 text text-lighten-5">{{topCounRev?.country}}</span>
              </p>
            </div>
            <div class="card-action  teal darken-3 darken-1">
              <div id="clients-bar" class="center-align">
                <canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-content  yellow darken-3 white-text">
              <p class="card-stats-title">
                <i class="material-icons">trending_up</i> top sellling product rev</p>
              <h4 class="card-stats-number">{{topProdRev?.rev}}</h4>
              <p class="card-stats-compare">
                <i class="material-icons">keyboard_arrow_up</i> 
                <span class="grey darken-3-text ">{{topProdRev?.Name}}</span>
              </p>
            </div>
            <div class="card-action  yellow darken-4">
              <div id="profit-tristate" class="center-align">
                <canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-content purple darken-2 white-text">
              <p class="card-stats-title">
                <i class="material-icons">content_copy</i> monthly Best Seller</p>
              <h4 class="card-stats-number">${{monthlyBestSeller?.revenue}}</h4>
              <p class="card-stats-compare">
                <i class="material-icons">keyboard_arrow_down</i>
                <span class="deep-orange-text text-lighten-5">{{monthlyBestSeller?.username}}</span>
              </p>
            </div>
            <div class="card-action  purple darken-4">
              <div id="invoice-line" class="center-align">
                <canvas style="display: inline-block; width: 417.609px; height: 25px; vertical-align: top;" width="417" height="25"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- top4 end -->
    <div class="row">
      <div class="col l12">
        <div class="">
          <h5 class="truncate center-align">User Sales (fix the text)</h5>
          <div class="center-align">
            <app-us-map></app-us-map>
          </div>
        </div>
      </div>
      <!-- <div class="col l5">
      <div class="card">
        <h5 class="truncate center-align">Boring Table(fix the text)</h5>
        <app-user-sales-table></app-user-sales-table>
      </div>
    </div> -->
    </div>
    <h4 class="truncate center-align">Unit Amount Grpah (fix the text~)</h4>
    <div class="row">
      <div class="col l6">
        <div class="">
          <h5 class="truncate center-align">User Sales (fix the text)</h5>
          <!-- <app-user-sales-table></app-user-sales-table> -->
          <div class="face-down">
            <app-facechart></app-facechart>
          </div>
        </div>
      </div>
      <div class="col l6">
        <div class="">
          <h5 class="truncate center-align">Pie Chart (fix the text)</h5>
          <app-piechart></app-piechart>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col l12">
      <div class="">
        <h5 class="truncate center-align">Weather Sales (fix the text)</h5>
        <app-weather-sale-graph></app-weather-sale-graph>
      </div>
    </div>
  </div>
</div>