<div class="container ">
  <div id="card-stats">
    <div class="row">
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-content  light-blue darken-3 white-text">
            <p class="card-stats-title">
              <i class="material-icons">trending_up</i> Today Profit</p>
            <h4 class="card-stats-number">number</h4>
            <p class="card-stats-compare">
              <i class="material-icons">keyboard_arrow_up</i>
              <span class="grey darken-3 text text-lighten-5">Analytics</span>
            </p>
          </div>
          <div class="card-action  light-blue darken-4 darken-1">
            <div id="clients-bar" class="center-align">
              <canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-content  teal lighten-2 white-text">
            <p class="card-stats-title">
              <i class="material-icons">trending_up</i> Today Profit</p>
            <h4 class="card-stats-number">number</h4>
            <p class="card-stats-compare">
              <i class="material-icons">keyboard_arrow_up</i>
              <span class="grey darken-3 text text-lighten-5">Analytics</span>
            </p>
          </div>
          <div class="card-action  teal darken-3 darken-1">
            <div id="clients-bar" class="center-align">
              <canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-content  yellow darken-3 white-text">
            <p class="card-stats-title">
              <i class="material-icons">trending_up</i> Today Profit</p>
            <h4 class="card-stats-number">number</h4>
            <p class="card-stats-compare">
              <i class="material-icons">keyboard_arrow_up</i> 80%
              <span class="grey darken-3-text text-lighten-5">from yesterday</span>
            </p>
          </div>
          <div class="card-action  yellow darken-4">
            <div id="profit-tristate" class="center-align">
              <canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-content purple darken-2 white-text">
            <p class="card-stats-title">
              <i class="material-icons">content_copy</i> Analytics</p>
            <h4 class="card-stats-number">numbers</h4>
            <p class="card-stats-compare">
              <i class="material-icons">keyboard_arrow_down</i>
              <span class="deep-orange-text text-lighten-5">from last year</span>
            </p>
          </div>
          <div class="card-action  purple darken-4">
            <div id="invoice-line" class="center-align">
              <canvas style="display: inline-block; width: 417.609px; height: 25px; vertical-align: top;" width="417" height="25"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--chart dashboard start-->
  <h4 class="truncate center-align">Unit Amount Grpah (fix the text~)</h4>
  <div id="chart-dashboard">
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card">
          <app-unit-amount-graph></app-unit-amount-graph>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Revenue by Month
              <i class="material-icons right">close</i>
            </span>
          </div>
        </div>
      </div>
      <div>
        <h4 class="truncate center-align">Us Map (fix the text~)</h4>
        <div id="chart-dashboard">
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-move-up waves-effect waves-block waves-light">
                  <div class="move-up">
                    <p class="margin white-text">Text </p>
                    <div>
                      <app-us-map></app-us-map>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>