.container {
    padding: 0 0.5rem;
    margin: 0 auto;
    max-width: 100% !important;
    width: 80%;
    float:right;
}
#card-stats {
    padding-top: 12px;
}
#content .container .row {
    margin-bottom: 0;
}
.card {
    overflow: hidden;
    border-radius: 3px;
}
.page-footer .container {
    padding: 0 15px;
}
.task-cat {
    padding: 2px 4px;
    color: #fff;
    margin-left: 37px;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}