<!-- <a class="waves-effect waves-light btn" (click)="salesByCount()">By Sold Units</a>
<a class="waves-effect waves-light btn" (click)="salesByRev()">By Revenue</a> -->
<div class="center">
<a class="btn-floating btn-large waves-effect waves-light blue" (click)="salesByCount()"><i class="material-icons">autorenew</i>By Revenue</a>
<a class="btn-floating btn-large waves-effect waves-light blue" (click)="salesByRev()"><i class="material-icons">directions_walk</i>By Sold Units</a>
</div>
<div id="chartdiv3"></div>
