<div class="modal-content">
  <h4>Log Sale</h4>

  <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
         #search [formControl]="searchControl">
  <agm-map #pickMap [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
  <select materialize="material_select" [materializeSelectOptions]="products" (change)="getSKU()" name="chosenProduct" [(ngModel)]="sale.product_id_fk">
    <option [value]="" disabled>Product</option>
    <option value={{product.product_id}} *ngFor="let product of products; let i = index">{{product.product_name}}</option>
  </select>
  <select materialize="material_select" [materializeSelectOptions]="items" name="chosenSKU" [(ngModel)]="chosenSKU">
    <option [value]="" disabled>Item</option>
    <option value={{item.sku_id}} *ngFor="let item of items; let i = index">{{item.sku_name}}</option>
  </select>
  <div class="input-field col s6">
    <input placeholder="Number of units" id="unit_number" type="number" class="validate" name="sales_count" [(ngModel)]="sale.sales_count">
    <label for="number">Units Sold</label>
  </div>
</div>
<div class="modal-footer">
  <a class="waves-effect waves-green btn-flat" (click)="closeLogEmit()">Dismiss</a>
  <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="logSale()">Submit</a>
</div>
